@import url("../reset.css/reset.css");
@import url('https://fonts.cdnfonts.com/css/gilam');
body{
	background: #171717;
  font-family: 'Gilam', sans-serif;
  color:#fff;
}
.main__header {
  width:100%;
  height: auto;
  margin:0 auto;
	width: 1463px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.main__header-logo {
  width:216px;
  height: 33px;
  display: block;
}
.main__header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main__header-btn {
  padding: 10px 25px;
  border:1px solid #E4B564;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  color: #E4B564;
  text-decoration: none;
  gap: 10px;
  font-size: 18px;
}
.title__primary {
  font-weight: 700;
font-size: 50px;
color:#fff;
margin-bottom: 40px;
line-height: 150%;
}
.section__desc {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 150%;
  width: 70%;
}
section {
  margin:0 auto;
  width: 1463px;
  margin-bottom: 160px;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third__section {
  background-color: #0E0E0E;
  width:100%;
  padding-top: 170px;
}
.second__section .title__primary {
  margin-bottom: 90px;
}
.container {
	margin:0 auto;
	width: 1463px;
}
.wrapper {	

	flex-direction: row;
	justify-content: center;
  display: grid;
grid-row-gap: 30px;
  grid-template-columns:repeat(6, 1fr);
  grid-template-areas:
    "box1 box1 box2 box2 box3 box3"
    "box4 box4 box4 box5 box5 box5" ;
justify-items: center;
	
}
.box1, .box2, .box3, .box4, .box5 {
	
  display: flex;
  align-items: center;
  justify-content: center;
	font-weight: 700;
font-size: 20px;
text-align: center;
padding: 40px;
box-sizing: border-box;
	
}
.box1 {
  width: 467px;
height: 468px;
  grid-area: box1;
  background-color: #634F2C;
}
.box2 {
  width: 467px;
height: 468px;
  grid-area: box2;
  background-color: #B4A385;
}
.box3 {
  
  width: 467px;
height: 468px;
  grid-area: box3;
  background-color: #E4B564;
}
.box4 {width: 715px;
height: 468px;
  grid-area: box4;
  background-color: #635A4A;
}
.box5 {
width: 715px;
height: 468px;
  grid-area: box5;
  background-color: #B08C4D;
}
.client__wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.wrapper2 {
 	padding: 22px;
	box-sizing: content-box;
  column-count: 3;
  column-gap: 22px;
}
.wrapper2 .box {

   margin: 0;
  display: grid;
	align-items: center;
  justify-items: center;
  grid-template-rows: 1fr auto;
  margin-bottom: 17px;
  break-inside: avoid;
	
}
.wrapper2 .box > div {
  max-width: 100%;
  display: block;
  grid-row: 1 / -1;
  grid-column: 1;
}
.bx1 {
	background: #0E0E0E;
    height: 313px;
}
.bx2 {
    height: 533px;
background: #1F1F1F;
}
.bx3 {
	background: #242424;
    height: 429px;
}
.bx4 {
	background: #E4B564;
	justify-self: end;
    height: 414px;
	position:relative;

}
.bx5 {
	
background: #1F1F1F;
    height: 255px;
}
.bx6 {
	background: #0E0E0E;
    height: 313px;
}
.bx7 {
	margin-bottom: 0px;
	background: #0E0E0E;
    height: 277px;
}
.client {
  display: flex;
  flex-direction: column;
  height: 390px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px;
  font-size: 22px;
  line-height: 150%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.client__desc {
  width: 70%;
  bottom: -60px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}
.client img {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  transition: .3s ease;
}
.client:hover img {
  top:25%;
  transition: .3s ease;
}
.client:hover .client__desc {
  bottom: 60px;
  opacity: 1;
  pointer-events: none;
  transition: .3s ease;
}
.client:nth-of-type(1) {
  background-color: #634F2C;
}
.client:nth-of-type(2) {
  background: rgba(232, 210, 171, 0.76);
}
.client:nth-of-type(3) {
  background-color: #E4B564;
}
.client:nth-of-type(4) {
  background-color: #635A4A;
}
.client:nth-of-type(5) {
  background-color: #B08C4D;
}
.client:nth-of-type(6) {
  background-color: #634F2C;
}